#Header{
    background-color: darkgreen;
    color: white;
    border: 2px solid black;
font-family: cursive;
text-align: center;
}
#Header1{
 font-family: cursive;
text-align: center;
    background-color: rgb(215, 221, 215);
}
h4{
    font-family: cursive;
text-align: center;
 border: 2px solid black;
    background-color: #006622;
color: white;
font-size: medium;
}
.indo{
    font-family: cursive;
text-align: center;
    background-color: rgb(102, 160, 10);
color: white;
border: 2px solid black;
}
#final{
    font-family: cursive;
text-align: center;
  background-color: rgb(215, 221, 215);
}
.text{
    font-weight: 600;
    margin: 10px;
    padding: 5px;
    border: 1px solid;
    border-radius: 5px;
}
.text:hover {
 color: red;
}
